@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
body {
  min-height: 100%;
  background-size: cover;
  background-color: black;
  /* background-size: auto 100%; */
  background-repeat: no-repeat;
}
.background-container-talks {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.background-talks {
  top: 0;
  left: 0;
  background-color: black;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.image-talks {
  top: 0;
  left: 0;
  position: fixed;
  background-image: url("../../assets/earth-g174993377_1920\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  animation: 1s ease-out 0s 1 zoomIn2;
  background-attachment: fixed;
}

.content-talks {
  position: relative;
  height: 20vh;
  width: 30vw;
  top: 35%;
  left: 50%;
  animation: 2s ease-out 0s 1 fadeIn;
}

.content-talks h1 {
  position: absolute;
  right: -3.5vw;
  font-family: "Inter";
  font-style: normal;
  font-size: 11vw;
  font-weight: 600;
  height: 20vh;
  mix-blend-mode: difference;
  color: #e9e9dd;
  transform: translate(-50%, -50%);
}

.talks-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8vw;
  top: 60%;
}

.card-container-talks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  justify-content: space-around;
  flex-flow: wrap;
  padding: 0 12%;
  flex: 0 1 auto;
}
.prev-talks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  justify-content: space-around;
  flex-flow: wrap;
  padding: 0 12%;
  flex: 0 1 auto;
}
.talks-heading {
  font-size: 6vmin;
  font-weight: 600;
  width: 100%;
  color: #e9e9dd;
  margin-bottom: -4%;
}

.hover-cards-talks {
  background-color: black;
  z-index: 1;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 350px;
  border: 1px solid white;
  border-radius: 15px;
  margin-bottom: 40%;
  margin-left: 1.5rem;
  font-family: "Inter";
  color: #fffffc;
  text-transform: uppercase;
  bottom: 0;
  animation: 2s ease-out 0s 1 fadeIn;
  padding-left: 10%;
  margin-right: 1rem;
  margin-left: 1rem;
  transition: transform 0.5s;
}
.hover-cards-talks:hover {
  transform: scale(1.3);
  z-index: 10;
}

.hover-cards-talks p {
  font-size: 18px;
  position: absolute;
  top: 225px;
  left: 50%;
  transform: translate(-50%);
  line-height: 27px;
  width: 210px;
}

@media screen and (max-width: 500px) {
  .hover-cards-talks {
    margin-bottom: 8rem;
    margin-left: 1rem;
    width: 280px;
  }
  .hover-cards-talks:hover {
    transform: scale(1);
  }
  .card-container-talks {
    align-items: center;
  }
  .talks-container {
    gap: 20vw;
  }
  .talks-heading {
    font-size: 8vmin;
  }
}
