/* @import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
body{
    min-height: 100%;
    background-image:url("../../images/competions/earth-g174993377_1920\ 1.png");
    background-size: cover;

    background-repeat:no-repeat;
}
.headerContainer{
    
    display:flex;
    margin-top:311px;
    justify-content:center;

}
.header{
    font-family: 'Inter', sans-serif;

    font-size: 100px;
    font-weight: 600;
    line-height: 182px;
    letter-spacing: 0em;
   

    mix-blend-mode: difference;
    
    color: #E9E9DD;


border-radius: nullpx;

}
.eventsContainer{
    display:flex;
    justify-content:space-around;
    margin-bottom:40px;

}
.subHeader{
    text-align:center;
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;



color: #FFFFFC;
}
.sliderContainer{
   margin-right:20px
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn2 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
.background-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.background-proshow {
  top: 0;
  left: 0;
  background-color: black;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* .image-events-proshow {
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("../../assets/earth-g174993377_1920\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    animation: 1s ease-out 0s 1 zoomIn2;
}

.content-events {
    position: relative;
    height: 201px;
    width: 609px;
    top: 35%;
    left: 50%;
    animation: 2s ease-out 0s 1 fadeIn;
}

.content-events-proshow h1 {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-size: 150px;
    font-weight: 600;
    height: 182px;
    mix-blend-mode: difference;
    color: #e9e9dd;
    transform: translate(-50%, -50%);
}

.card1-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50vw;
    top: 60%;
    justify-content: space-between;
    padding: 0% 10%;
    flex: 0 1 auto;
}
.card2-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50vw;
    top: 60%;
    left: 50%;
    justify-content: space-between;
    padding: 0% 10%;
    flex: 0 1 auto;
}
.subHeader1{
    
    position: absolute;
    
    right: 50%;
    top: 55%;
    width: 50%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color:#FFFFFC;

}

.subHeader2{
    position: absolute;
    
    left:50%;
    top: 55%;
    width: 50%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color:#FFFFFC;
}

.hover-cards-proshow {
    position: relative;
    background-image: url(../../assets/pawel-nolbert-62OK9xwVA0c-unsplash\ 1.png);
    height: 220px;
    width: 180px;
    border-radius: 45px;
    font-family: 'Inter';
    color: #fffffc;
    text-transform: uppercase;
    bottom: 0;
    animation: 2s ease-out 0s 1 fadeIn;
}

.hover-cards p {
    font-size: 18px;
    position: absolute;
    top: 225px;
    left: 50%;
    transform: translate(-50%);
    line-height: 27px;
    width: 210px;
} */
/* .subHeader{
    text-align:center;
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;



color: #FFFFFC;
} */
/* .sliderContainer{
   margin-right:20px
}   */

.image-proshows {
  top: 0;
  left: 0;
  position: fixed;
  background-image: url("../../assets/earth-g174993377_1920\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  animation: 1s ease-out 0s 1 zoomIn2;
  background-attachment: fixed;
}

.content-proshows {
  position: relative;
  height: 20vh;
  width: 30vw;
  top: 35%;
  left: 50%;
  animation: 2s ease-out 0s 1 fadeIn;
}

.content-proshows h1 {
  position: absolute;
  right: -35.5vw;
  top: 34vh;
  font-family: "Inter";
  font-style: normal;
  font-size: 11vw;
  font-weight: 600;
  height: 20vh;
  mix-blend-mode: difference;
  color: #e9e9dd;
  transform: translate(-50%, -50%);
}

.card-container-proshows {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7vw;
  top: 55%;
}
.prev-proshows {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  top: 60%;
  justify-content: space-around;
  flex-flow: wrap;
  padding: 0 12%;
  flex: 0 1 auto;
}
.proshows-heading {
  mix-blend-mode: difference;
  font-size: 6vmin;
  font-weight: 600;
  width: 100%;
  color: #e9e9dd;
  margin-bottom: -4%;
}

.hover-cards-proshows {
  position: relative;
  background-blend-mode: difference;
  background-size: cover;
  background-position:top;
  height: 240px;
  width: 250px;
  border-radius: 15px;
  margin-bottom: 10%;
  /* margin-left: 1.5rem; */
  font-family: "Inter";
  color: #fffffc;
  text-transform: uppercase;
  bottom: 0;
  animation: 2s ease-out 0s 1 fadeIn;
  /* padding-left:10%; */
  margin-right: 3vw;
  margin-left: 3vw;
  margin-bottom: 18vh;
  /* margin: 5% 5%; */
  transition: transform 0.3s;
}
.hover-cards-proshows:hover {
  transform: scale(1.3);
 
  z-index: 10;
}

.hover-cards-proshows p {
  font-size: 25px;
  position: absolute;
  top: 245px;
  left: 50%;
  transform: translate(-50%);
  line-height: 27px;
  width: 210px;
}
.date{
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  line-height: 27px;
  width: 210px;
  mix-blend-mode: difference;
}

@media screen and (max-width: 560px) {
  .hover-cards-proshows {
    margin-bottom: 6rem;
    margin-left: 1rem;
    width: 280px;
    background-position: top;
  }
  .hover-cards-proshows:hover {
    transform: scale(1);
    z-index: 10;
  }
  .proshows-heading {
    font-size: 7vmin;
    margin-bottom: 2%;
  }
}
