* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.background-container-gallery {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.background-gallery {
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("../../assets/anirudh-Xu4Pz7GI9JY-unsplash\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.content-gallery {
    position: relative;
    height: 201px;
    width: 609px;
    top: 30%;
    left: 50%;
}

.card-container-gallery {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 34px;
    width: 100vw;
    top: 40%;
    justify-content: space-around;
    padding: 0 10%;
    align-content: center;
    align-items: center;
    justify-items: center;
}