* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

.background-container {
  position: relative;
  /*height: 80vh;*/
  width: 100%;
}

.bg {
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url(../../assets/aman-pal-1c2iHG5_MgE-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg.landing-title {
  position: absolute;
}

.image-landing {
  z-index: -1;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}

.landing-title {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-size: 10vw;
  font-weight: 600;
  height: 182px;
  mix-blend-mode: difference;
  color: #e9e9dd;
  top: 31%;
  left: 31%;
}
.dates {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-size: 2.6vw;
  font-weight: 600;
  height: 182px;
  mix-blend-mode: difference;
  color: #e9e9dd;
  top: 51%;
  left: 39%;
  text-align: center;
  background: rgb(149, 149, 145);
  background: linear-gradient(
    90deg,
    rgba(149, 149, 145, 1) 0%,
    rgba(251, 251, 251, 1) 33%,
    rgba(255, 255, 255, 1) 50%,
    rgba(237, 237, 237, 1) 69%,
    rgba(149, 149, 145, 1) 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
  /*-webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate;
  animation: glow 1s ease-out infinite alternate;*/
}
@keyframes glow {
  from {
    text-shadow: 0 0 0.5vw #f7f7f7, 0 0 1.8vw #f7f7f7;
  }
  to {
    text-shadow: 0 0 1.8vw #f7f7f7, 0 0 2.3vw #f7f7f7;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.scroll-text {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-size: 1.6vw;
  font-weight: 600;
  height: 182px;
  mix-blend-mode: difference;
  color: #e9e9dd;
  bottom: -15%;
  left: 44%;
  animation: blink 2s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinkA {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.passes-btn {
  animation: blinkA 2s linear infinite;
  left: 42%;
  top: 60%;
  position: absolute;
  align-items: center;
  background-color: #e9e9dd;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: 700;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.passes-btn:hover {
  box-shadow: #fff 0 0 0 3px, transparent 0 0 0 0;
  background-color: black;
  color: white;
}

.arrow {
  position: absolute;
  background-image: url(../../assets/arrow.jpeg);
}

.landing-btn {
  position: absolute;
  top: 92%;
  left: 50%;
  bottom: 10%;
}

.blank {
  height: 1000vh;
}

@keyframes leaveFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.image-landing1 {
  animation: 500ms ease-out 0s 1 leaveFade;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  position: fixed;
  background-image: url(../../assets/aman-pal-1c2iHG5_MgE-unsplash.jpg);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.countdown {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-size: 1.6vw;
  font-weight: 600;
  height: 182px;
  mix-blend-mode: difference;
  color: #e9e9dd;
  bottom: 0%;
  left: 44%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .landing-title {
    position: absolute;
    top: 40%;
    left: 6%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 25vw;
    line-height: 91px;
    color: #e9e9dd;
    mix-blend-mode: difference;
  }
  .bg {
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
    background-image: url(../../assets/aman-pal-1c2iHG5_MgE-unsplash-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }
  .dates {
    font-size: 7.3vw;
    left: 22%;
  }
  .scroll-text {
    font-size: 4vw;
    left: 42%;
  }
  .image-landing1 {
    background-image: url(../../assets/aman-pal-1c2iHG5_MgE-unsplash-1.jpg);
  }
  .passes-btn {
    font-size: 3vw;
    border-radius: 1.5vw;
    top: 58%;
    left: 32%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .landing-title {
    position: absolute;
    top: 40%;
    left: 8%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 23vw;
    line-height: 91px;
    color: #e9e9dd;
    mix-blend-mode: difference;
  }
  .bg {
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
    background-image: url(../../assets/aman-pal-1c2iHG5_MgE-unsplash-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }
  .dates {
    font-size: 5.8vw;
    left: 27%;
  }
  .scroll-text {
    font-size: 3.7vw;
    bottom: -8%;
    left: 42%;
  }
  .image-landing1 {
    background-image: url(../../assets/aman-pal-1c2iHG5_MgE-unsplash-1.jpg);
  }
  .passes-btn {
    width: 26vw;
    font-size: 2.2vw;
    padding: 1.4vw;
    border-radius: 1.5vw;
    margin-top: 8vw;
    left: 36%;
    top: 53%;
  }
}
