.register-title {
  font-family: "Inter";
  font-size: 9vmin;
  font-weight: 600;
  width: 100%;
  color: #e9e9dd;
}

.register-form {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}

.form-input {
  font-family: "Inter";
  width: 300px;
  padding: 0.9vw;
  border-radius: 0.5vw;
  background: none;
  border-bottom: 0.1vw solid #e9e9dd;
  color: white;
  transition: 0.5s;
  background-color: white;
  color: black;
  outline: none;
  border: none;
}

.form-input:focus {
  border: 0.1vw solid #e9e9dd;
  box-shadow: 0.5vw 0.5vw 2vw -1vw white;
  outline: none;
}

.form-btn {
  margin: 15px;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form-btn:hover {
  box-shadow: #fff 0 0 0 3px, transparent 0 0 0 0;
  background-color: black;
  color: white;
}

.submit-success {
  font-size: 5vmin;
  font-weight: 600;
  width: 100%;
  color: #c0f192;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .register-title {
    font-size: 7vmin;
    padding-top: 15vmin;
  }
  .register-form {
    margin-top: 10vmin;
    gap: 5vmin;
  }
  .form-input {
    width: 58%;
    padding: 1.4vw;
    font-size: 3vmin;
  }
  .form-btn {
    font-size: 2.4vmin;
    border-radius: 1.5vw;
    margin-top: 8vw;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .register-title {
    font-size: 7vmin;
    padding-top: 15vmin;
  }
  .register-form {
    margin-top: 10vmin;
    gap: 5vmin;
  }
  .form-input {
    width: 55%;
    padding: 1.4vmin;
    font-size: 2.5vmin;
  }
  .form-btn {
    width: 17vmin;
    font-size: 2.2vmin;
    padding: 1.4vmin;
    border-radius: 1.5vw;
    margin-top: 8vw;
  }
}
