@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.card-container-competition-1 {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 60%;
    justify-content: flex-start;
    padding: 0 10%;
    flex: 0 1 auto;
    width: 100vw;
    align-items: flex-start;
    flex-direction: row;
    gap: 5%;
}

.card-container-competition-2 {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 60%;
    justify-content: flex-end;
    padding: 0 10%;
    flex: 0 1 auto;
    width: 100vw;
    align-items: flex-end;
    flex-direction: row;
    gap: 5%;
}

.card-container-competition-1 p {
    position: absolute;
    font-size: 22px;
    color: white;
    top: -25px;
    font-family: 'Inter';
    left: 25%;
    transform: translateX(-75%);
}

.card-container-competition-2 p {
    position: absolute;
    font-size: 22px;
    color: white;
    top: -25px;
    font-family: 'Inter';
    right: 25%;
    transform: translateX(75%);
}