@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.card-container-competition-1 {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 60%;
    justify-content: flex-start;
    padding: 0 10%;
    flex: 0 1 auto;
    width: 100vw;
    align-items: flex-start;
    flex-direction: row;
    gap: 5%;
}

.card-container-competition-2 {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 60%;
    justify-content: flex-end;
    padding: 0 10%;
    flex: 0 1 auto;
    width: 100vw;
    align-items: flex-end;
    flex-direction: row;
    gap: 5%;
}

.card-container-competition-1 p {
    position: absolute;
    font-size: 22px;
    color: white;
    top: -25px;
    font-family: 'Inter';
    left: 25%;
    transform: translateX(-75%);
}

.card-container-competition-2 p {
    position: absolute;
    font-size: 22px;
    color: white;
    top: -25px;
    font-family: 'Inter';
    right: 25%;
    transform: translateX(75%);
}
.card1-container {
    position: absolute; 
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    width: 50vw;
    top: 60%;
    justify-content: space-between;
    padding: 0% 10%; 
    flex: 0 1 auto;
}
.card2-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50vw;
    top: 60%;
    left: 50%;
    justify-content: space-between;
    padding: 0% 10%;
    flex: 0 1 auto;
}
.subHeader1{
    
    position: absolute;
    
    right: 50%;
    top: 55%;
    width: 50%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color:#FFFFFC;

}

.subHeader2{
    position: absolute;
    
    left:50%;
    top: 55%;
    width: 50%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color:#FFFFFC;
}

.leftarrow{
    position: absolute;
    left: 800px;
}
.rightarrow{
    position: absolute;
    left: 1350px;
}