.card-container-competition-1 {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 60%;
    justify-content: flex-start;
    padding: 0 10%;
    flex: 0 1 auto;
    width: 100vw;
    align-items: flex-start;
    flex-direction: row;
    gap: 5%;
}

.card-container-competition-2 {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 60%;
    justify-content: flex-end;
    padding: 0 10%;
    flex: 0 1 auto;
    width: 100vw;
    align-items: flex-end;
    flex-direction: row;
    gap: 5%;
}