.slide-standout {
  height: 25vh;
  width: 30vh;
  display: grid;
  place-items: center;
  padding-right: 4vh;
  perspective: 10vh;
  background: rgba(96, 96, 96, 0.25);
}

.slide-standout img {
  height: 100%;
  width: 100%;
  transition: transform 1s;
}
.image-slider {
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 100%;
}
.image-slider-track {
  display: flex;
  width: calc(200px * 12);
  animation: play 60s linear infinite;
}

@keyframes play {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 6));
  }
}

.image-slider::before,
.image-slider::after {
  content: "";
  height: 100%;
  width: 15%;
  z-index: 2;
  position: absolute;
}

.image-slider::before {
  left: 0;
  top: 0;
}

.image-slider::after {
  right: 0;
  top: 0;
}

.slide-standout img:hover {
  transform: translateZ(20px);
  cursor: pointer;
}


@media screen and (min-width: 320px) and ( max-width:480px) {
  .image-slider {
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 100%;
  }
}