.slide-standout {
  height: 25vh;
  width: 30vh;
  display: grid;
  place-items: center;
  padding-right: 2vh;
  margin-right: 4vh;
  perspective: 10vh;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.5s;

}

.slide-standout img {
  height: 100%;
  width: 100%;
  transition: transform 1s;
  object-fit: cover;
  
}
.image-slider {
  display: grid;
  place-items: center;
  position: relative;
  overflow-y: visible;
  overflow-x: hidden;
  height: 250px;
  width: 100%;
}
.image-slider-track {
  display: flex;
  width: calc(200px * 12);
  animation: play 60s linear infinite;
}

@keyframes play {
  0% {
    transform: translateX(calc(-250px * 6));
  }

  100% {
    transform: translateX(0);
  }
}

.image-slider::before,
.image-slider::after {
  content: "";
  height: 100%;
  width: 15%;
  z-index: 2;
  position: absolute;
}

.image-slider::before {
  left: 0;
  top: 0;
}

.image-slider::after {
  right: 0;
  top: 0;
}
.titles_slider{
  font-size: larger;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  border-radius: 10px;
  margin: auto;
}
.slide-standout:hover {
  z-index: 10;
  transform: scale(1.3);
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .image-slider {
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 100%;
  }
}
