.standout-container {
  width: 100%;
  position: relative;
  bottom: 200px;
  margin-bottom: 169vh;
  height: 100vh;
  border-radius: 10px;
}

.lec {
  width: 42vh;
  position: absolute;
  left: 7vw;
  transform: translate(25vh, 30vh);
  align-items: center;
  z-index: 1;
}

.eve {
  width: 42vh;
  position: absolute;
  right: 16vw;
  transform: translate(0vh, 60vh);
  align-items: center;
}

.talks {
  width: 42vh;
  position: absolute;
  left: 7vw;
  transform: translate(25vh, 110vh);
  align-items: center;
}

.comp {
  width: 42vh;
  position: absolute;
  right: 16vw;
  /* top: 70px;   */
  transform: translate(0vh, 140vh);
  text-align: center;
}

.standout-header {
  font-size: 7vh;
  mix-blend-mode: difference;
  color: #e9e9dd;
  margin-bottom: 4vh;
  z-index: -1;
}

.standout-desc {
  font-size: 3vh;
  border-radius: 25px;
  color: white;
}

.scroll-bottom {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-size: 1.6vw;
  font-weight: 600;
  height: 182px;
  mix-blend-mode: difference;
  color: #e9e9dd;
  left: 44%;
  animation: blink 2s linear infinite;
  transform: translate(0vh, 190vh);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .standout-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    bottom: 200px;
    margin-bottom: 220vh;
    height: 100vh;
  }
  .standout-header {
    font-size: 10vw;
    mix-blend-mode: difference;
    color: #e9e9dd;
    mix-blend-mode: difference;
    z-index: -1;
  }

  .lec {
    width: 80vw;
    position: absolute;
    left: 7vw;
    transform: translate(2vh, 30vh);
    align-items: center;
    z-index: 1;
  }

  .eve {
    width: 80vw;
    position: absolute;
    left: 7vw;
    transform: translate(2vh, 80vh);
    align-items: center;
  }

  .talks {
    width: 80vw;
    position: absolute;
    left: 7vw;
    transform: translate(2vh, 130vh);
    align-items: center;
  }

  .comp {
    width: 80vw;
    position: absolute;
    left: 7vw;
    /* top: 70px;   */
    transform: translate(2vh, 180vh);
    text-align: center;
  }
  .scroll-bottom {
    font-size: 4vw;
    transform: translate(-6vh, 225vh);
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .standout-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    bottom: 200px;
    margin-bottom: 220vh;
    height: 100vh;
  }
  .standout-header {
    font-size: 10vw;
    mix-blend-mode: difference;
    color: #e9e9dd;
    mix-blend-mode: difference;
    z-index: -1;
  }

  .lec {
    width: 70vw;
    position: absolute;
    left: 2vw;
    transform: translate(10vh, 30vh);
    align-items: center;
    z-index: 1;
  }

  .eve {
    width: 70vw;
    position: absolute;
    left: 2vw;
    transform: translate(10vh, 80vh);
    align-items: center;
  }

  .talks {
    width: 70vw;
    position: absolute;
    left: 2vw;
    transform: translate(10vh, 130vh);
    align-items: center;
  }

  .comp {
    width: 70vw;
    position: absolute;
    left: 2vw;
    /* top: 70px;   */
    transform: translate(10vh, 180vh);
    text-align: center;
  }
  .scroll-bottom {
    font-size: 4vw;
    transform: translate(-9vh, 225vh);
  }
}
