.standout-container {
  width: 100%;
  position: relative;
  bottom: 200px;
  margin-bottom: 169vh;
  height: 100vh;
}

.lec {
  width: 42vh;
  position: absolute;
  left: 7vw;
  transform: translate(25vh, 30vh);
  align-items: center;
  z-index: 1;
  
}

.eve {
  width: 42vh;
  position: absolute;
  right : 16vw;
  transform: translate(0vh, 60vh);
  align-items: center;
}

.talks {
  width: 42vh;
  position: absolute;
  left: 7vw;
  transform: translate(25vh, 110vh);
  align-items: center;
}

.comp {
  width: 42vh;
  position: absolute;
  right: 16vw;
  /* top: 70px;   */
  transform: translate(0vh, 140vh);
  text-align: center;
}

.standout-header {
  font-size: 7vh;
  mix-blend-mode: difference;
  color: #e9e9dd;
  margin-bottom: 4vh;
  mix-blend-mode: difference;
  z-index: -1;
  
}

.standout-desc {
  background: rgba(96, 96, 96, 0.4);
  font-size: 3vh;
  border-radius: 25px;
  color: white;
  padding: 40px;
}
