.navbar {
    position: initial;
}

.wrapper {
    margin-right: 80%;
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background-attachment: no-fixed;
    
    
}


.nav-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    /* position: relative; */
}

.white {
    color: white
}

.blue {
    color: #379DB4
}

@media (min-width: 790px) and (max-width:1024px){
    .nav-heading{
        font-size: 1.5rem;
        line-height: 1.8rem;
      
    }
    .wrapper{
       
        margin-right: 75%;
    }
   
}
@media (min-width: 650px) and (max-width:790px){
     .nav-heading{
        font-size: 1.5rem;
        line-height: 1.8rem;
      
    }
    .wrapper{
       
        margin-right: 70%;
    }
}
@media (min-width: 520px) and (max-width:650px){
    .nav-heading{
       font-size: 1.2rem;
       line-height: 1.5rem;
     
   }
   .wrapper{
      
       margin-right: 67%;
   }
}
@media (min-width: 460px) and (max-width:520px){
    .nav-heading{
       font-size: 1rem;
       line-height: 1.2rem;
     
   }
   .wrapper{
      
       margin-right: 60%;
   }
}




@media (min-width: 320px) and (max-width: 460px){
    .nav-heading{
        font-size: 1rem;
        line-height: 1rem;
    }
    .wrapper{
        margin-right: 65%;
    }
    
}
