* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
.background-container-gallery {
  position: relative;
  height: 100vh;
  width: 100vw;
}

@keyframes zoomIn2 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.background-gallery {
  top: 0;
  left: 0;
  background-color: black;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.image-gallery {
  top: 0;
  left: 0;
  position: fixed;
  background-image: url("../../assets/anirudh-Xu4Pz7GI9JY-unsplash\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  animation: 1s ease-out 0s 1 zoomIn2;
}

.content-gallery {
  position: fixed;
  height: 201px;
  width: 609px;
  top: 20%;
  left: 50%;
  z-index: 3;
}

.gallery-title {
  position: fixed;
  font-family: "Inter";
  font-style: normal;
  font-size: 10vw;
  font-weight: 600;
  height: 25vh;
  mix-blend-mode: difference;
  color: #e9e9dd;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.gallery-grid {
  position: absolute;
  top: -326px;
}

@media screen and (max-width: 500px){
  
  .gallery-grid {
    position: relative;
      top: -1686px;
  }
}
