* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
.background-container-gallery {
  position: relative;
  height: 100vh;
  width: 100vw;
}

@keyframes zoomIn2 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.background-gallery {
  top: 0;
  left: 0;
  background-color: black;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.image-gallery {
  
  position: fixed;
  background-image: url("../../assets/anirudh-Xu4Pz7GI9JY-unsplash\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  animation: 1s ease-out 0s 1 zoomIn2;
  justify-items: center;
}

.content-gallery {
  position: fixed;
 justify-content: center;

z-index: 3;
}

.gallery-title {
  position: fixed;
  font-family: "Inter";
  padding-top: 7%;
  padding-left: 27%;
  font-style: normal;
  font-size: 9.8vw;
  font-weight: 600;
  
  color: #e9e9dd;  

}

.gallery-grid {
  position: relative;
  
}

@media screen and (max-width: 500px) {
.gallery-title{
  padding-top: 20%;
 
}

}
@media screen and (min-width: 501px) and (max-width: 1000px){
.gallery-title {
  padding-top: 20%;
}
}