* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

.background-container-explore {
  position: relative;
  height: 100vh;
  width: 100vw;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.bground-explore {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image-explore {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  animation: 4s ease-out 0s 1 zoomIn, 2s ease-out 0s 1 fadeIn;
  transform: scale(1.5);
  background-image: url("./bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content-explore {
  position: relative;
  animation: 2s ease-out 0s 1 fadeIn;
}

.title-explore {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  height: 40vw;
  /*color: #e9e9dd;*/
  color: white;
  left: 9vw;
  top: 24vh;
}

.big-title {
  font-weight: 600;
  font-size: 16vh;
  margin-top: 12vh;
}

.small-title {
  font-weight: 200;
  font-size: 11vh;
}

.description-explore {
  position: relative;
  top: 58vh;
  left: 10vw;
  animation: 2s ease-out 0s 1 fadeIn;
}

.desc-explore {
  text-align: left;
  width: 43%;
  font-size: 4vh;
  padding: 0.6vw;
}

@keyframes slideInFromL {
  0% {
    transform: translate(-100vw, 1vw);
  }

  100% {
    transform: translate(-43vw, 1vw);
  }
}

.explore-btn {
  background: #15272b;
  opacity: 0.75;
  border-radius: 3vw;
  border: 0;
  font-weight: 600;
  font-size: 1.8vw;
  color: #b0e1ec;
  padding: 2vw;
  text-align: left;
  cursor: pointer;
  animation: 4s ease-out 0s 1 slideInFromL;
  transform: translate(-43vw, 1vw);
}
.ArrowForward {
  font-size: 2vw;
  transform: translateY(18%);
}

.explore-btn:hover {
  background: #b0e1ec;
  color: #15272b;
  opacity: 0.6;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

.background-container-explore1 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

@keyframes zoomIn1 {
  0% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(4);
  }
}

.bground-explore1 {
  top: 0;
  left: 0;
  /* background-color: black; */
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image1 {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  animation: 2s ease-out 0s 1 zoomIn1;
  transform: scale(4);
  background-image: url("./bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.content-explore1 {
  position: relative;
  animation: 1s ease-out 0s 1 fadeOut;
}

.title-explore1 {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  height: 40vw;
  /*color: #e9e9dd;*/
  color: white;
  left: 9vw;
  top: 24vh;
}

.description-explore1 {
  position: relative;
  top: 58vh;
  left: 10vw;
  animation: 1s ease-out 0s 1 fadeOut;
}

.desc-explore1 {
  text-align: left;
  width: 43%;
  font-size: 4vh;
  padding: 0.6vw;
}

.explore-btn1 {
  background: #15272b;
  opacity: 0;
  border-radius: 3vw;
  border: 0;
  font-weight: 600;
  font-size: 1.8vw;
  color: #b0e1ec;
  padding: 2vw;
  text-align: left;
  cursor: pointer;
  animation: 1s ease-out 0s 1 fadeOut;
  transform: translate(-43vw, 1vw);
}

@media screen and (max-width: 1439px) and (min-width: 480px) {
  .big-title {
    font-size: 12vw;
    margin-top: 6vw;
  }
  .small-title {
    font-size: 7vw;
  }
  .content-explore {
    margin-bottom: -4%;
  }
  .description-explore {
    margin-top: -1%;
  }
  .desc-explore {
    font-size: 2.5vw;
    width: 55%;
  }
  .description-explore1 {
    margin-top: -1%;
  }
  .desc-explore1 {
    font-size: 2.5vw;
    width: 55%;
  }
  .content-explore1 {
    margin-bottom: -4%;
  }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  .background-container-explore {
    width: 100%;
  }
  .bground-explore {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 15%;
  }
  .big-title {
    font-size: 14vw;
    margin-top: 12vw;
  }
  .small-title {
    font-size: 11vw;
  }
  .description-explore {
    margin-top: -15vh;
  }
  .desc-explore {
    font-size: 5vw;
    width: 75%;
  }
  .background-container-explore1 {
    width: 100%;
  }
  .explore-btn {
    font-size: 3vw;
    transform: translate(-40vw, 3vw);
  }
  .bground-explore1 {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 15%;
  }
  .description-explore1 {
    margin-top: -15vh;
  }
  .desc-explore1 {
    font-size: 5vw;
    width: 75%;
  }
  .explore-btn1 {
    font-size: 3vw;
    transform: translate(-40vw, 3vw);
  }
  @keyframes slideInFromL {
    0% {
      transform: translate(-100vw, 3vw);
    }

    100% {
      transform: translate(-40vw, 3vw);
    }
  }
}

@media screen and (max-width: 980px) and (min-width: 480px) and (min-height: 600px) {
  .big-title {
    font-size: 12vw;
    margin-top: 6vw;
  }
  .small-title {
    font-size: 7vw;
  }
  .content-explore {
    margin-bottom: -20vw;
    margin-top: 12vw;
  }
  .description-explore {
    margin-top: -1%;
  }
  .desc-explore {
    font-size: 2.5vw;
    width: 55%;
  }
  .description-explore1 {
    margin-top: -1%;
  }
  .desc-explore1 {
    font-size: 2.5vw;
    width: 55%;
  }
  .content-explore1 {
    margin-bottom: -20vw;
    margin-top: 12vw;
  }
}
