* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

.background-container-explore {
  position: relative;
  height: 100vh;
  width: 100vw;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.bground-explore {
  padding-top: 25vmin;
  padding-left: 13vmin;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}

.image-explore {
  z-index: -10;
  top: 0;
  left: 0;
  position: fixed;
  animation: 4s ease-out 0s 1 zoomIn, 2s ease-out 0s 1 fadeIn;
  transform: scale(1.5);
  background-image: url("./bg1-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content-explore {
  position: relative;
  animation: 2s ease-out 0s 1 fadeIn;
  text-align: left;
  left: 20vmin;
}

.title-explore {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  /*color: #e9e9dd;*/
  color: white;
}

.big-title {
  font-weight: 200;
  font-size: 14vmin;
}

.small-title {
  font-weight: 200;
  font-size: 14vmin;
}

.description-explore {
  position: relative;
  animation: 2s ease-out 0s 1 fadeIn;
  left: 20vmin;
  display: flex;
  flex-direction: column;
}

.desc-explore {
  text-align: left;
  width: 45%;
  font-size: 4vmin;
  padding: 0.6vmin;
}

@keyframes slideInFromL {
  0% {
    transform: translateX(-60vmin);
  }

  100% {
    transform: translateX(0);
  }
}

.explore-btn {
  background: #15272b;
  margin-top: 2vmin;
  opacity: 0.75;
  border-radius: 3vmin;
  border: 0;
  font-weight: 600;
  font-size: 2.3vmin;
  color: #b0e1ec;
  padding: 2.3vmin;
  text-align: left;
  cursor: pointer;
  animation: 1.5s ease-out 0s 1 slideInFromL;
  width: fit-content;
}
.ArrowForward {
  margin-top: -8px;
  font-size: 2.5vmin;
  transform: translateY(18%);
}

.explore-btn:hover {
  background: #b0e1ec;
  color: #15272b;
  opacity: 0.6;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

.background-container-explore1 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

@keyframes zoomIn1 {
  0% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(4);
  }
}

.bground-explore1 {
  padding-top: 25vmin;
  padding-left: 13vmin;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}

.image1 {
  z-index: -10;
  top: 0;
  left: 0;
  position: fixed;
  animation: 2s ease-out 0s 1 zoomIn1;
  transform: scale(1.5);
  background-image: url("./bg1-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.content-explore1 {
  position: relative;
  animation: 1s ease-out 0s 1 fadeOut;
  text-align: left;
  left: 20vmin;
}

.title-explore1 {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  /*color: #e9e9dd;*/
  color: white;
}

.description-explore1 {
  position: relative;
  animation: 1s ease-out 0s 1 fadeOut;
  left: 20vmin;
  display: flex;
  flex-direction: column;
}

.desc-explore1 {
  text-align: left;
  width: 45%;
  font-size: 4vmin;
  padding: 0.6vmin;
}

.explore-btn1 {
  background: #15272b;
  margin-top: 2vmin;
  opacity: 0.75;
  border-radius: 3vmin;
  border: 0;
  font-weight: 600;
  font-size: 2.3vmin;
  color: #b0e1ec;
  padding: 2.3vmin;
  text-align: left;
  cursor: pointer;
  animation: 1s ease-out 0s 1 fadeOut;
  width: fit-content;
}

@media screen and (max-width: 1439px) and (min-width: 480px) {
  .bground-explore {
    padding-left: 3vmin;
    padding-top: 35vmin;
    gap: 5vmin;
  }
  .bground-explore1 {
    padding-left: 3vmin;
    padding-top: 35vmin;
    gap: 5vmin;
  }
  .content-explore {
    left: 10vmin;
  }
  .description-explore {
    left: 10vmin;
  }
  .content-explore1 {
    left: 10vmin;
  }
  .description-explore1 {
    left: 10vmin;
  }
  .big-title {
    font-size: 12vmin;
  }
  .small-title {
    font-size: 12vmin;
  }
  .desc-explore {
    font-size: 3vmin;
    width: 75%;
  }
  .desc-explore1 {
    font-size: 3vmin;
    width: 75%;
  }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  .bground-explore {
    padding-left: 4vmin;
    padding-top: 60vmin;
    gap: 10vmin;
  }
  .bground-explore1 {
    padding-left: 4vmin;
    padding-top: 60vmin;
    gap: 10vmin;
  }
  .content-explore {
    left: 10vmin;
  }
  .description-explore {
    left: 10vmin;
    gap: 4vmin;
  }
  .content-explore1 {
    left: 10vmin;
  }
  .description-explore1 {
    left: 10vmin;
    gap: 4vmin;
  }
  .big-title {
    font-size: 12vmin;
  }
  .small-title {
    font-size: 12vmin;
  }
  .desc-explore {
    font-size: 5vmin;
    width: 80%;
  }
  .desc-explore1 {
    font-size: 5vmin;
    width: 80%;
  }
  .explore-btn {
    font-size: 3vmin;
  }
  .explore-btn1 {
    font-size: 3vmin;
  }
}

@media screen and (min-width: 480px) and (max-height: 700px) {
  .bground-explore {
    padding-left: 25vmin;
    padding-top: 35vmin;
    gap: 5vmin;
  }
  .bground-explore1 {
    padding-left: 25vmin;
    padding-top: 35vmin;
    gap: 5vmin;
  }
  .content-explore {
    left: 10vmin;
  }
  .description-explore {
    left: 10vmin;
  }
  .content-explore1 {
    left: 10vmin;
  }
  .description-explore1 {
    left: 10vmin;
  }
  .big-title {
    font-size: 15vmin;
  }
  .small-title {
    font-size: 15vmin;
  }
  .desc-explore {
    font-size: 3vmin;
    width: 75%;
  }
  .desc-explore1 {
    font-size: 3vmin;
    width: 75%;
  }
}
