
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn2 {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
  .background-container {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
  .container-current-proshow {
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .artist-img{
    width: 100%;
    height:100%;
    object-fit: cover;
  }
  
  

  
  
  
  .card-container-current-proshows {
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  top: 60%;
  justify-content: space-around;
  flex-flow: wrap;
  padding: 0 12%;
  flex: 0 1 auto;
  }


  .prev-current-proshows {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    top: 60%;
    justify-content: space-around;
    flex-flow: wrap;
    padding: 0 8%;
    flex: 0 1 auto;
  }

  .header-current-proshow {
    font-size: 6vmin;
    font-weight: 600;
    width: 100%;
    color: #e9e9dd;
    margin-bottom: -4%;
  }
  
  .hover-cards-current-proshows {
    position: relative;
    background-blend-mode: difference;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 220px;
    border-radius: 15px;
    margin-bottom: 10%;
    /* margin-left: 1.5rem; */
    font-family: "Inter";
    color: #fffffc;
    text-transform: uppercase;
    bottom: 0;
    animation: 2s ease-out 0s 1 fadeIn;
    /* padding-left:10%; */
    margin-right: 3vw;
    margin-left: 3vw;
    margin-bottom: 18vh;
    margin-top:10vh;
    /* margin: 5% 5%; */
    transition: transform 0.3s;


  }
  .hover-cards-proshows:hover {
    transform: scale(1.3);
    z-index: 10;
  }
  .artist-name{
    padding: 8% 0 0 0;
    font-size:1.3vw;
  }
  .artist-date{
    font-size:0.9vw;
  }
  .artist-info{
    font-size:0.8vw;
  }
  
  
  
  @media screen and (max-width: 560px) {
    .hover-cards-proshows {
      margin-bottom: 6rem;
      margin-left: 1rem;
      width: 280px;
      background-position: top;
    }
    .hover-cards-proshows:hover {
      transform: scale(1);
      z-index: 10;
    }
    .proshows-heading {
      font-size: 7vmin;
      margin-bottom: 2%;
    }
  }
  