.sliderContainer{
    display: flex;
    justify-content: center;
    /* padding: 20px; */
}

.placeholder-title{
    height: 50px;
    font-size: 2vh;
    text-transform: uppercase;
    padding: auto;
    color: wheat;
}
.swiperButtonPrevPrev{
    background: url('./left.png');
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: difference;
    border: none;
    /* justify-content: center;
    align-items: center; */
    z-index: 100;
    height: 10vh;
    width: 10vw;
    /* padding-left: 4vw;
    padding-top: 50%; */
    position: absolute;
    left: 3vw;
    top: 70%;
}
.swiperButtonPrevNext{
    background: url('./right.png');
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: difference;
    border: none;
    /* justify-content: center;
    align-items: center; */
    height: 10vh;
    width: 10vw;
    /* padding-left: 4vw;
    padding-top: 50%; */
    z-index: 100;
    position: absolute;
    left: 37vw;
    top: 70%;
}
.swiperButtonCurrPrev{
    background: url('./left.png');
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: difference;
    border: none;
    /* justify-content: center;
    align-items: center; */
    z-index: 100;
    height: 10vh;
    width: 10vw;
    /* padding-left: 4vw;
    padding-top: 50%; */
    position: absolute;
    left: 52vw;
    top: 70%;
}
.swiperButtonCurrNext{
    background: url('./right.png');
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: difference;
    border: none;
    /* justify-content: center;
    align-items: center; */
    height: 10vh;
    width: 10vw;
    /* padding-left: 4vw;
    padding-top: 50%; */
    z-index: 100;
    position: absolute;
    left: 88vw;
    top: 70%;
}