.sliderContainer{
    display: flex;
    justify-content: center;
    /* padding: 20px; */
}
.placeholder-title{
    height: 50px;
    font-size: 2vh;
    text-shadow: 100px;
    text-decoration-color: blue;
    padding: auto;
    color: wheat;
}

.swiperButton{
    height: 10vh;
    width: 10vw;
    color: wheat;
    position: absolute;
    left: 0;
    top: 00px;
}